# custom aliases

# nvim
alias nv="nvim"
alias myip="curl ifconfig.me" # to get my external IP


# go test
alias gotest="gotestsum"
#alias gotest="go test -json -v ./... 2>&1 | tee /tmp/gotest.log | gotestfmt"

# go to workspace
alias ws="cd ~/development/projects/"

# drop down menu to search files
alias scanf="fd --type f --hidden --exclude .git | fzf-tmux -p --reverse | xargs nvim"

# drop down menu to git checkout
alias checkout="git branch | fzf-tmux -p --reverse | xargs git checkout"

# git: removes all merged branches (ignore importante ones)
alias gitrm="git branch --merged | egrep -v "(^\*|master|main|development)" | xargs git branch -D"
